<!DOCTYPE html>
<html ng-app="YTapp">
    <head>
        <title>
            YTapp
        </title>

       <!-- CSS -->
        <link rel="stylesheet" href="../Utils/CSS/index.css">
        <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <!-- JS -->
         <script src="https://code.jquery.com/jquery-latest.min.js"></script>
		 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
		 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
		 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js"></script>
		  
        <!-- App Module  -->
         <script src="../app/app.js"></script>

        <!-- Controllers -->
		 <script src="../app/Controllers/AppController.js"></script> 
		 <script src="../app/Controllers/HeaderController.js"></script>
		 <script src="../app/Controllers/UserController.js"></script>
		 
        <!-- Services -->
         <script src="../app/Services/navigateTabsService.js"></script>
         <script src="../app/Services/ytGetService.js"></script>
         <script src="../app/Services/ytDisplayService.js"></script>

        <!--  DIRECTIVES -->
         <script src="../app/Directives/youtubeSwapDirective.js"></script>
         <script src="../app/Directives/sidebarDirective.js"></script>
         <script src="../app/Directives/closeTagDirective.js"></script>

    </head>
    <body ng-cloak>
        <div class="container"ng-controller="AppController">
            <div class="header" ng-controller="HeaderController">
                <form ng-submit="Search(username)" class=" form">
                    <h2 class="main-title">
                        <a href="#/main" >Steins Gate</a>
                    </h2><input ng-model="username" class="search-box" type="search" autofocus> 
                    <a class="search-icon" href="" ng-click="submitForm(username)"> <i class="icon-f fa fa-search fa-lg"></i></a>
                </form>
            </div>
            
            <div class="sidebar-container"><sy-sidebar> </sy-sidebar> </div>
            <div class="view-container"><div class="view" ng-view=""></div> </div>
            
        </div>
    </body>
</html>