<div class="YT-container">
	<div><a class="back-menu" href = "#/main">Back to Main</a>  </div>
	<div id=$index class="YT-player" ng-repeat="thumb in current.thumbnailUrl" >
		
		<img class ="disp-img" ng-show = 'current.showThumbs[$index]' title="" ng-src = {{thumb}} ng-click = 'replaceMe($index)'>
		<div class ="img-title play-img" ng-show = 'current.showThumbs[$index]' ng-click = 'replaceMe($index)'>{{current.titles[$index]}}</div>

	<i class="fa fa-4x fa-play-circle play-img play-btn" ng-show = 'current.showThumbs[$index]' title="play" ng-click = 'replaceMe($index)'></i>

		<iframe ng-hide = 'current.showThumbs[$index]' vidlink= '{{current.vidlist[$index]}}' sy-yt-swap='vidlink ngHide ngSrc' ng-src="" width="320" height="180" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

