*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}

body{
	font-family: 'Abel', sans-serif;
}

.search-box, .search-btn{
	border: 1px solid black;
	border-radius: 8px;
	font-size: 20px;
	background-color: #bbb;
	padding: 5px;
	font-family: 'Abel', sans-serif;
}

/*  MAIN STYLING */

html,body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	background-color: black;
}

.container{
	position:relative;
	width:100%;
	height:100%;
	
}

.header{
	position: fixed;
	display:block;
	width:100%;
	padding: 20px;
	background:-webkit-linear-gradient(top,rgba(150,0,0,1)20%,rgba(0,0,0,1));
	background:-moz-linear-gradient(top,rgba(150,0,0,1)20%,rgba(0,0,0,1));
	background:-o-linear-gradient(top,rgba(150,0,0,1)20%,rgba(0,0,0,1));
	background:linear-gradient(top,rgba(150,0,0,1)20%,rgba(0,0,0,1));
	border-radius: 5px;
	text-align: center;
	z-index:10;
	min-width: 520px;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}

.main-title a{
	color: #ccc;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
	cursor: pointer;
	text-decoration: none;
}

.main-title:hover{
	color: #fff;
}
.header h2{
	float: left;
	display:inline-block;
	font-family: 'Abel', sans-serif;

}

.header .search-box{
	width:60%;
	text-align: left;
	outline: none;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}


.header i{
	border: 1px solid #222;
	color: #888;
	position: absolute;
	left: 80%;
	top: 26%;
	height:38px;
	padding:10px;
	z-index:20;
	border-radius: 5px;
	background:-webkit-linear-gradient(top,rgba(150,0,0,1),rgba(50,0,0,1));
	background:-moz-linear-gradient(top,rgba(150,0,0,1),rgba(50,0,0,1));
	background:-o-linear-gradient(top,rgba(150,0,0,1),rgba(50,0,0,1));
	background:linear-gradient(top,rgba(150,0,0,1),rgba(50,0,0,1));
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}

.sidebar-container{
	display: block;
	position: fixed;
	top:75px;
	height:100%;
	background:-webkit-linear-gradient(top,rgba(20,20,20,0.7)60%,rgba(50,50,50,0.2));
	background:-moz-linear-gradient(top,rgba(20,20,20,0.7)60%,rgba(50,50,50,0.2));
	background:-o-linear-gradient(top,rgba(20,20,20,0.7)60%,rgba(50,50,50,0.2));
	background:linear-gradient(top,rgba(20,20,20,0.7)60%,rgba(50,50,50,0.2));
	padding: 0px 0px 0px 0px;
	width:150px;
	text-align: center;
	z-index:5;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;

}

.sidebar{
	width:100%;	
	display: inline-block;
	padding-bottom: 75px;
	height:100%;
	position: relative;
	border-radius: 10px;
	text-align: center;
	overflow-y: scroll;
}

.sidebar img{
	width: 95px;
	height: 95px;
	display: inline-block;
	border-radius: 10px;
}

ul{
	list-style-type: none;
	padding:2px;
	margin: 2px;

}
li{
	background:rgba(150,0,0,0);
	position: relative;
	left:0px;
	margin:10px 0px;
	padding:0px;
	text-align: left;
	border-radius: 5px;
 	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;

}
a.redit{
	font-family: 'Abel', sans-serif;
	display: inline-block;
	color: #EEE;
	font-weight: normal;
	font-size:15px;
	position: relative;
	left:0;
	padding:5px;
	width:100%;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	z-index:2;
}
a.closeTag{
	font-family: 'Abel', sans-serif;
	display: inline-block;
	color: black;
	visibility: hidden;
	font-weight: bolder;
	font-size:15px;
	position: absolute;
	width:auto;
	top:2px;
	right:2px;
	height:10%;
	margin:0px;
	padding:2px;
	text-decoration: none;
	-webkit-transition: 0.5s background-color, 0.5s color;
	-moz-transition: 0.5s background-color, 0.5s color;
	-o-transition: 0.5s background-color, 0.5s color;
 	transition: 0.5s background-color, 0.5s color;
 	border-radius: 0px;
 	z-index:10;
}
a.bookmarkTag{
	display: inline;
	color: black;
	visibility: hidden;
	position: absolute;
	width:auto;
	bottom:5px;
	right:5px;
 	-webkit-transition: 0.5s background-color, 0.5s color;
	-moz-transition: 0.5s background-color, 0.5s color;
	-o-transition: 0.5s background-color, 0.5s color;
 	transition: 0.5s background-color, 0.5s color;
 	border-radius: 0px;
 	z-index:10;
}
i:hover{
	color: #fff;
}

 li:hover .closeTag,li:hover .bookmarkTag{
 	visibility: visible;
 }

 li:hover 
 {
 	background-color:rgba(180,0,0,0.9);
 	letter-spacing: 1px;

 }

.active{
	background-color:rgba(0,150,200,0.9);
}

li:hover.active{
	background-color:rgba(0,200,255,0.9);
 	/*border: 1px solid ;*/
 	letter-spacing: 1px;
}

 a.closeTag:hover, a.bookmarkTag .book-icon2:hover{
 	text-shadow: -1px -1px 9px orange,1px 1px 9px orange,-1px 1px 9px orange,1px -1px 9px orange;
 	color:black;
 }

 .search-box:focus{
 	font-weight:bolder;
 	background-color: #ddd;
 	border: 1px solid transparent;
 }

 .search-box:focus + .search-icon i {
 	border:1px solid white;
 } 


 .search-box:hover{
 	border:1px solid white;
 	background-color: #ddd;
 }
 .search-btn:hover{
 	font-weight:bolder;
 	background-color: #ddd;
 	border:1px solid white;
 	letter-spacing: 1px;
 }
 .header:hover{
	background-color:rgba(150,0,0,0.9);

 }
.disp-img{
	border-radius: 2px;
	-webkit-transition: 0.2s -webkit-filter;
	-moz-transition: 0.2s -moz-filter;
	-o-transition: 0.2s -o-filter;
	transition: 0.2s filter;
	opacity: 1;
}
.disp-img:hover{
	opacity: 0.5;
	-webkit-filter:blur(2px);
	-moz-filter:blur(2px);
	-o-filter:blur(2px);
	filter:blur(2px);
	z-index: 1;
}

.play-img{
	width: 140px;
	height: 90px;
	position: absolute;
	z-index: 20;
	left: 100px; top:50px;
	pointer-events:none;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
	opacity: 1;
}
div.img-title{
	top:0px;left:0px;
	width: 100%;
	height:auto;
	font-size: 15px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	-webkit-transition: 0.5s color, 0.5s white-space;
	-moz-transition: 0.5s color, 0.5s white-space;
	-o-transition: 0.5s color, 0.5s white-space;
	transition: 0.5s color, 0.5s white-space;
	text-align: left;
	color: #CCC;
	padding:0px 6px;
	background-color: rgba(0,0,0,0.7);
}
.play-img:hover{
	z-index: 1;
}
.disp-img:hover~.img-title{
	width: 100%; 
	height:auto;
	white-space: initial;
	text-align: left;
	color: #fff;
	background-color: transparent;
}

.disp-img:hover+.play-btn{
	color:red;
}
/* VIEW */

.view-container{
	display: inline-block;
	position:relative;
	left:0px;
	z-index:0;
	top:78px;
	width:100%;
	text-align: center;
	margin:0px;
	padding-left:150px;
	overflow-x:hidden;
}

.view{
	position: relative;
	top:0;
	left:0;
}

.YT-player{
	display: inline-block;
	margin:0px;
	position: relative;
}
.back-menu{
	display: inline-block;
	text-decoration: none;
	background-color: #333;
	color: #ddd;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
	width:80%;
	margin: 2px;
	border-radius: 10px;
}
.main-menu{
	display: inline-block;
	text-decoration: none;
	color: #ddd;
}
.back-menu:hover{
	letter-spacing: 1px;
	background-color: #555;
	color: white;
	width:85%;
}

/*Scroll Bars*/

.sidebar::-webkit-scrollbar {
    width: 5px;
}
 
.sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(150,0,0,0.5);
}
 
.sidebar::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(top,rgba(150,0,0,0.7)78%,rgba(150,0,0,0)78%);
  outline: 1px solid rgba(150,0,0,0);
}

.sidebar::-moz-scrollbar {
    width: 5px;
}
 
.sidebar::-moz-scrollbar-track {
    -moz-box-shadow: inset 0 0 0px rgba(150,0,0,0.5);
}
 
.sidebar::-moz-scrollbar-thumb {
  background: -moz-linear-gradient(top,rgba(150,0,0,0.7)78%,rgba(150,0,0,0)78%);
  outline: 1px solid rgba(150,0,0,0);
}
.sidebar::-o-scrollbar {
    width: 5px;
}
 
.sidebar::-o-scrollbar-track {
    -o-box-shadow: inset 0 0 0px rgba(150,0,0,0.5);
}
 
.sidebar::-o-scrollbar-thumb {
  background: -o-linear-gradient(top,rgba(150,0,0,0.7)78%,rgba(150,0,0,0)78%);
  outline: 1px solid rgba(150,0,0,0);
}

/*********/

.search-box:hover+.search-icon .icon-f{
	border:1px solid white;
}

i.book-icon
{
	color:white;
	position: absolute;
	bottom:7px;
	right:5px;
	z-index:20;
	cursor:pointer;
	pointer-events:none;
}
